/*css 포지션 position : static, relative, absolute, fixed, sticky*/
/** 시멘틱 태그

position : absolute 가 설정된 요소는 가장 가까운
 position 이 relative, absolute, fixed , sticky  중 
 하나인 조상 요소를 기준으로 위치합니다. 
 그런 조상이 없다면,대개는  html인, 초기 컨테이닝 블록이 
 아니라 뷰포트를 기준으로 삼습니다.

absolute인 경우 가장 가까운  position 이 설정된 조상 요소가 없으면 
뷰포트를 기준으로 위치합니다.  
static인 경우에는 일반적인 문서 흐름에 따라 main 이 부모입니다

포지셔닝 대상이 있다면 가장 가까운 포지션이 설정된 조상 요소를 기준으로 위치하고, 
없다면 초기 컨테이닝 블록(iCB) ( 보통은 뷰포트(가상의 기준)) 를 기준으로 합니다.
 body와 비슷해 보이지만 엄밀히 말하면 다른 개념입니다.

body는 초기 컨테이닝 블록 안에 들어있는 하나의 요소일 뿐입니다.
단, body가 position: relative 등을 가질 경우에는, 
자식 absolute 요소의 기준이  될 수도 있다는 점을 덧붙이면 좋습니다.


*/

.static-box{
    top: 10%;
    left: 10%;
}

.absolute-wrapper{
    top: 0;
    left: 0;
    position: absolute;
}